md-card-actions > md-icon {
  margin: 0px 10px 0px 10px;
}

.icon-button {
    margin: 0px;
    min-width: 0px;
}

md-card {
  margin: 10px;
}

md-card-content {
  word-wrap: break-word;
  height: 5em;
}

md-hint {
  font-size: 75% !important
}

.action-button {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}