<div fxLayout="column" fxLayoutAlign="space-around start">
  <div *ngFor='let feedback of feedbacks'>
    <md-card>
      <md-card-header>
        <md-card-title>{{ feedback.category }}</md-card-title>
      </md-card-header>
      <md-card-content>
        <p>
          {{ feedback.description }}
        </p>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="end center">
        <div *ngIf="!feedback.isOwned">
          <button md-button class="icon-button"><md-icon>comment</md-icon></button>
          <button md-button class="icon-button" (click)="feedback.voteUp()"><md-icon [style.color]="feedback.getThumbUpColor()">thumb_up</md-icon></button>
          <button md-button class="icon-button" (click)="feedback.voteDown()"><md-icon [style.color]="feedback.getThumbDownColor()">thumb_down</md-icon></button>
        </div>
        <button *ngIf="feedback.isOwned" md-button class="icon-button" (click)="onDelete(feedback)"><md-icon>delete</md-icon></button>
        <md-icon color="primary">{{ feedback.getScoreIcon() }}</md-icon>
      </md-card-actions>
    </md-card>
  </div>

  <button *ngIf="!isNewFeedback" md-fab md-tooltip="Add feedback" (click)="isNewFeedback = !isNewFeedback"><md-icon>add</md-icon></button>
  <form *ngIf="isNewFeedback" (ngSubmit)="onSubmit()" #fbForm="ngForm">
    <md-card fxLayout="column">
      <md-input-container>
        <input mdInput [(ngModel)]="feedbackNote.category" name="category" id="category" placeholder="Category">
      </md-input-container>
      <md-input-container>
        <textarea mdInput [(ngModel)]="feedbackNote.description" name="description" id="description" placeholder="Feedback"></textarea>
      </md-input-container>
      <md-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button md-raised-button color="accent" type="submit">Add</button>
        <button md-raised-button color="warn" (click)="isNewFeedback=false">Cancel</button>
      </md-card-actions>
    </md-card>
  </form>
</div>