<div fxLayout="row" fxLayoutWrap>
  <div *ngFor='let feedback of feedbacks' fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%" fxFlex.gt-md="25%">
    <md-card>
      <md-card-content>
        <p>
          {{ feedback.description }}
        </p>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="end center">
        <div *ngIf="!feedback.isOwned">
          <button md-button class="icon-button"><md-icon>comment</md-icon></button>
          <button md-button class="icon-button" (click)="feedback.voteUp()"><md-icon [style.color]="feedback.getThumbUpColor()">thumb_up</md-icon></button>
          <button md-button class="icon-button" (click)="feedback.voteDown()"><md-icon [style.color]="feedback.getThumbDownColor()">thumb_down</md-icon></button>
        </div>
        <button *ngIf="feedback.isOwned" md-button class="icon-button" (click)="onDelete(feedback)"><md-icon>delete</md-icon></button>
        <md-icon color="primary">{{ feedback.getScoreIcon() }}</md-icon>
      </md-card-actions>
    </md-card>
  </div>

  <form *ngIf="isNewFeedback" (ngSubmit)="onSubmit()" #fbForm="ngForm" fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="33%"
    fxFlex.gt-md="25%">
    <md-card fxLayout="column">
      <md-input-container>
        <textarea #description mdInput [(ngModel)]="feedbackNote.description" required rows="7" maxlength="200" name="description"
          id="description" placeholder="Feedback"></textarea>
        <md-hint>{{feedbackNote.description.length}} / 200</md-hint>
      </md-input-container>
      <md-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button md-raised-button color="warn" (click)="isNewFeedback=false">Cancel</button>
        <button md-raised-button color="accent" type="submit" [disabled]="!fbForm.form.valid">Add</button>
      </md-card-actions>
    </md-card>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="end center">
  <button *ngIf="!isNewFeedback" md-fab md-tooltip="Add feedback" mdTooltipPosition="above" (click)="openNewFeedback()"><md-icon>add</md-icon></button>
</div>